
.discounted-price .discounted {
    font-size: 25px;
    font-weight: 600;
     
}
.discounted-price .regular {
    text-decoration: line-through;
    padding-left: 0.5rem;
    font-size: 15px;
    color: rgb(218, 17, 17);
    font-weight: 500;
}
.regular-price{
    font-size: 25px;
    font-weight: 600; 
} 
.product-badge {
    background-color: rgb(14, 218, 59);
    color: white;
    width: 5rem;
    position: absolute;
    right: 20px;
    top: -15px;
    text-align: center;
    padding: 0.25rem;
    border-radius: 0.25rem;
    z-index: 2;
}
.stock-badge {
    background-color: rgb(153, 0, 0);
    color: white;
    width: 7rem;
    position: absolute;
    right: 20px;
    top: -15px;
    text-align: center;
    padding: 0.25rem;
    border-radius: 0.25rem;
    z-index: 2;
}