*{
    padding: 0;
    margin: 0;
} 
body{   
    font-family: 'Roboto', sans-serif;
}

.nav-bar{ 
    background-color: white; 
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}
.nav-items-div{
    padding: 15px;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}  
nav li:first-child{
    margin-right: auto; 
}
nav a{
    font-weight: bold;
    height: 100%;
    padding: 0 25px;
    text-decoration: none;
    display: flex;align-items: center;
    color: rgb(65, 64, 64);
}
nav a:hover{  
    color: darkblue;
}


.sidebar{ 
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 99; 
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1); 
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}  
.sidebar li{
    width: 100%;

}
.sidebar a{
    height: 50px;
} 

.menu-icon{
    display: none;
}

@media (max-width: 800px) {
    .hideOnMobile{
        display: none;
    } 
    .logo{
        max-width: 200px;
    }
    .menu-icon{
        display: block;
    }
    .nav a{
        padding: 0;
    }
}  