.footer{
    background-color: rgb(5, 1, 41);
    padding: 50px;
    display: flex;
    justify-content: space-around;
}
.footer-img{
    width: 150px;
}
.get-app{
    margin: 0;
    margin-bottom: 10px;
    color: white;
    font-size: 25px;
}
.app-icon{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.app-icon img{
    width: 150px;
}
.quick-link{
    
    margin: 0;
    font-size: 25px;
    color: white;
}
.quick-list{ 
    list-style: none;
    color: white;
    padding: 0;
}
.quick-list li{
    margin-top: 10px;
}
.copy-right{
    cursor: pointer;
    font-weight: bold;
    color: red;
}

/* -------------------- */
.fixed-height{
    height: 700px;
}