.shop-now{
    text-align: center;
} 

.shop_card{
    display: flex;
}

.single_cart{
    border-radius: 10px;
    background-color: rgb(1, 16, 27);
    margin: 50px;
    padding: 20px;
    color: white;
} 
.btn{
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    padding: 10px 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 27);
}