.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(2, 2, 27);
    padding: 20px 0;
}
.logo img{
    width: 150px;
}
.nav-active{
    color: green;
}
.link-item{ 
    display: flex; 
    gap: 30px; 
}
.link-item li{
    
    list-style: none;
}
.link-item li a {
    text-decoration: none;
    color: white;
     
}